
body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}
.login-card { 
    background: #fff; 
    padding:1.8rem; 
    border-radius: 3.5%; 
    box-shadow: 0 4px 0.62rem rgba(0, 0, 0, 0.192); 
    width: 100%; 
    max-width:30rem; 
}
.login-card h2 {
    margin-top: 0; 
    color: #333; 
    text-align: center;
 }
.form-group {
    margin-bottom: 1.3rem;
}
.form-group label {
    display: block; 
    margin-bottom: 0.3rem; 
    color: #555; 
    font-weight: bold;
}
.form-group input { 
    width: 100%; 
    padding: 0.4rem; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 0.25rem; 
}
.btn-submit { 
    width: 100%; 
    padding: 0.6rem; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.8s ease;
}

.btn-submit:hover { 
    background-color: #024b9a;
    color: white;
}
.error-msg { 
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 0.62rem; 
    border-radius: 0.25rem; 
    margin-bottom: 0.9rem; 
    border: 1px solid #f5c6cb; 
    font-size: 0.8rem; 
}

.register-box { 
    margin-top: 1.2rem; 
    text-align: center; 
    border-top: 1px solid #eee; 
    padding-top: 0.9rem; }

.register-box p{
    font-size: 0.8rem; 
    color: #666; 
    margin-bottom: 0.6rem;
}
.btn-modal { 
    display: block; 
    width: 100%; 
    padding: 0.62rem; 
    background-color: #28a745; 
    color: white; 
    border: none;
    text-decoration: none; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-weight: bold; 
    transition: background-color 0.8s ease;
}
.btn-modal:hover { 
    background-color: #1e6c2f;
    color: white;
 }
.error-msg { 
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 0.62rem; 
    border-radius: 4px; 
    margin-bottom: 0.9rem; 
    font-size: 0.8rem;
}

/*css del modal*/
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); justify-content: center; align-items: center; z-index: 1000; }
.modal-contenido { 
    background: white;
    padding: 3rem;
    border-radius: 3.5%;
    width: 100%;
    max-width: 35rem;
    position: relative;
}
.close-btn { 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1rem;
    right: 1.5rem;
    height: 1.3rem;
    width: 1.3rem !important;
    
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
    width: 1.8rem;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1;
}
.close-btn:hover { 
    background-color: #d1d1d1;
    color: #000; 
}
h3{
    margin-top: 0; 
    text-align: center;
}
    
    
